.grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
  }
.main{
    grid-area: main;
    width: 50%;
    
}
.sidebar{
    display: flex;
    width:50%;
    margin-left: 10%;
    padding: 0 90px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}